DB_USER=
DB_PASS=
DB_NAME=
DB_PORT=
DB_HOST=
DB_LOCATION=Asia/Jakarta
PORT=

#for dbq
CUSTOM_TIMEOUT=60*minute

DBMATE_DRIVER=mysql
DATABASE_URL="${DBMATE_DRIVER}://${DB_USER}:${DB_PASS}@localhost:${DB_PORT}/${DB_NAME}"
DBMATE_MIGRATIONS_DIR=./migration
DBMATE_SCHEMA_FILE=./migration/schema.sql

#cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_UPLOAD_FOLDER=